stages:
  - build
  - linter
  - test

variables:
  DJANGO_SETTINGS_MODULE: "GadukaGang.settings"
  VENV_PATH: ".venv"
  DB_NAME: "forum_database"
  DB_USER: "forum_owner"
  DB_PASSWORD: "1111"
  DB_HOST: "localhost"
  DB_PORT: "5432"
  ENCRYPTION_KEY: "KafqByaeRwSiijl2t7uRpPZKj6-4MgHEVILKiqZQKkM="
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PYTHONUNBUFFERED: "1"
  PYTHONDONTWRITEBYTECODE: "1"

cache:
  paths:
    - .cache/pip

default:
  before_script:
    - python3 --version
    - python3 -m venv "$VENV_PATH"
    - . "$VENV_PATH/bin/activate"
    - python -m pip install --upgrade pip
    - python -m pip install "setuptools<81"
    - cd GadukaGang
    - python -m pip install -r requirements.txt
    - cp .env.example .env

build-check:
  stage: build
  script:
    - echo "Build check started"
    - python manage.py check
    - python manage.py makemigrations --check --dry-run
    - echo "Build check finished"

linter-check:
  stage: linter
  allow_failure: true
  script:
    - echo "Running minimal flake8"
    - python -m pip install flake8
    - flake8 GadukaGang/ --exclude=views_old_backup.py,GadukaGang/management/commands/populate_data_science_course.py --select=E9,F63,F7,F82 || true
    - echo "Linter check finished"

unit-tests:
  stage: test
  script:
    - echo "Running unit tests"
    - python manage.py test GadukaGang.tests --verbosity 2

code-quality:
  stage: test
  allow_failure: true
  script:
    - echo "Running code quality"
    - python -m pip install radon
    - radon cc . -a -e "migrations/*,views_old_backup.py,management/commands/populate_data_science_course.py" || true
    - radon raw . -e "migrations/*,views_old_backup.py,management/commands/populate_data_science_course.py" || true
    - echo "Code quality finished"

security-check:
  stage: test
  allow_failure: true
  script:
    - echo "Running security scan"
    - python -m pip install bandit
    - bandit -r . -ll -x migrations,views_old_backup.py,test_practice.py || true
    - echo "Security scan finished"