name: Django check

on:
  push:
    branches: [ master ]

  # pull_request:

jobs:
  validate:
    name: Validate Django Project
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v6

      - name: set up Python
        uses: action/setup-python@v6
        with:
          python-version: '3.11'
      
      - name: create venv and install libs
        run: | 
          python3 m venv .venv
          source .venv/bin/activate
          cd GadukaGang
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Check Django settings
        run: |
          source .venv/bin/activate
          cd GadukaGang
          echo "Проверка настроек Django"
          python3 manage.py check
          echo "Настройки валидны"

      - name: Check Django migrations
        run: |
          source .venv/bin/activate
          cd GadukaGang
          echo "Проверка миграций Django"
          python3 manage.py makemigrations --check --dry-run
          echo "Миграции валидны"

  test:
    name: Test Django static files
    runs-on: ubuntu-latest
    needs: validate

    steps:
      - name: checkout repository
        uses: actions/checkout@v6

      - name: set up Python
        uses: action/setup-python@v6
        with:
          python-version: '3.11'
      
      - name: create venv and install libs
        run: | 
          python3 m venv .venv
          source .venv/bin/activate
          cd GadukaGang
          pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Check static files
        run: | 
          source .venv/bin/activate
          cd GadukaGang
          echo "Проверка статик-файлов Django"
          python3 manage.py collectstatic --noinput --dry-run
          echo "Статик-файлы валидны"

